<div class="main">
  <div class="my-slider">
	<ul>
		<li class="thumbnail"><img src="https://res.cloudinary.com/dsw8fvr45/image/upload/v1447635813/tic_tac_toe_udwevv.png">My slide</li>
		<li class="thumbnail"><img src="https://res.cloudinary.com/dsw8fvr45/image/upload/v1447635809/people_cards_htysqs.png">Another slide</li>
		<li class="thumbnail"><img src="https://res.cloudinary.com/dsw8fvr45/image/upload/v1447635803/towers_isa3wk.png">My last slide</li>
  </ul>
</div>
</div>
