<div class="header">
  <div class="container">
    <div class="nav">
      <ul class="pull-left">
        <li><a href="#">Welcome</li>
        <li><a href="#">Portfolio</li>
        <li><a href="#">Blog</li>
        <li><a href="#">About</li>
        <li><a href="#">Contact</li>
      </ul>

      <ul class="pull-right">
        <li><a href="#">Chen Yang</li>
      </ul>
    </div>
  </div>
</div>
