<div class="jumbotron">
  <div class="container">
    <h2 class="right">Hello. My name is <span class="highlight">Chen Yang</span> and I have creative ideas and build websites</h2>
    <%= link_to 'View My Work', portfolio_path, class: "btn right" %>
  </div>
</div>

<div class="footer">
  <div class="container">
    <ul class="social_media">
      <li><a class="github" href="https://github.com/yangc5"></a></li>
      <li><a class="linkedin" href="https://www.linkedin.com/pub/chen-yang/104/52a/b26"></a></li>
    </ul>
    <p>@Chen Yang 2015</p>
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
  </div>
</div>
